CM5/Core/dao-impl/src/test/resources/test-config/configuration-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://cm5.intertrust.ru/config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="configuration" type="con:configurationType" xmlns:con="https://cm5.intertrust.ru/config"/>

    <xs:complexType name="longType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="domainObjectType">
        <xs:sequence>
            <xs:element type="con:parentType" name="parent" minOccurs="0" maxOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:fieldsType" name="fields" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:uniqueKeyType" name="uniqueKey" minOccurs="0" maxOccurs="unbounded"
                        xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config"/>
        <xs:attribute type="xs:string" name="extends" use="optional" />
    </xs:complexType>

    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
            <xs:pattern value="[a-zA-z0-9]*">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="fieldsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="con:stringType" name="string" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:dateTimeType" name="dateTime" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:referenceType" name="reference" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:longType" name="long" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:decimalType" name="decimal" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:passwordType" name="password" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="fieldType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="referenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config"/>
                <xs:attribute name="type" type="con:nameType" use="required" xmlns:con="https://cm5.intertrust.ru/config"/>
                <xs:attribute type="xs:string" name="not-null" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="dateTimeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config"/>
                <xs:attribute type="xs:string" name="length" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="configurationType">
        <xs:sequence>
            <xs:element type="con:domainObjectType" name="domain-object-type" maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:collectionType" name="collection" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uniqueKeyType">
        <xs:sequence>
            <xs:element type="con:fieldType" name="field" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="passwordType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config"/>
                <xs:attribute type="xs:string" name="length"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="decimalType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config"/>
                <xs:attribute type="xs:string" name="precision"/>
                <xs:attribute type="xs:string" name="scale"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="stringType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config"/>
                <xs:attribute type="xs:string" name="length" use="optional"/>
                <xs:attribute type="xs:string" name="not-null" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Collections schema -->

    <xs:complexType name="filterType" mixed="true">
        <xs:sequence>
            <xs:element type="con:filterReferenceType" name="reference"
                        minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:criteriaType" name="criteria"
                        minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>

    <xs:complexType name="displayType">
        <xs:sequence>
            <xs:element type="con:columnType" name="column"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filterReferenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="placeholder" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="columnType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="field"
                              use="optional" />
                <xs:attribute type="xs:string" name="name"
                              use="optional" />
                <xs:attribute type="xs:string" name="hidden"
                              use="optional" />
                <xs:attribute type="xs:string" name="sortable"
                              use="optional" />
                <xs:attribute type="xs:string" name="sequence"
                              use="optional" />
                <xs:attribute type="xs:string" name="editable"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="criteriaType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="placeholder"
                              use="optional" />
                <xs:attribute type="xs:string" name="condition"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="rendererType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="className" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="collectionType">
        <xs:sequence>
            <xs:element type="con:displayType" name="display"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="xs:string" name="prototype"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="counting-prototype"
                        minOccurs="0">
            </xs:element>
            <xs:element type="con:rendererType" name="renderer"
                        minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:filterType" name="filter"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="idField" use="optional" />
        <xs:attribute type="xs:string" name="domain-object-type"
                      use="optional" />
    </xs:complexType>
</xs:schema>