navigation-panel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="https://cm5.intertrust.ru/navigation-panel/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="configuration" type="nav:configurationType" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/"/>
    <xs:complexType name="child-linksType">
        <xs:sequence>
            <xs:element type="nav:linkType" name="link" maxOccurs="unbounded" minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="group-name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="configurationType">
        <xs:sequence>
            <xs:element type="nav:navigationType" name="navigation" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sort-criterionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="field" use="optional"/>
                <xs:attribute type="xs:string" name="order" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="customType">
        <xs:sequence>
            <xs:element type="nav:attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="decorationsType">
        <xs:sequence>
            <xs:element name="collection-counter">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="collection" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="linkType">
        <xs:sequence>
            <xs:element type="nav:pluginType" name="plugin" minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/"/>
            <xs:element type="nav:decorationsType" name="decorations" minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/"/>
            <xs:element type="nav:child-linksType" name="child-links" maxOccurs="unbounded"
                        minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="display-text" use="optional"/>
        <xs:attribute type="xs:string" name="image" use="optional"/>
        <xs:attribute type="xs:string" name="child-to-open" use="optional"/>
    </xs:complexType>
    <xs:complexType name="domain-object-surferType">
        <xs:sequence>
            <xs:element type="nav:sort-criterionType" name="sort-criterion" maxOccurs="unbounded"
                        minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="collection" use="optional"/>
    </xs:complexType>
    <xs:complexType name="attributeType" mixed="true">
        <xs:sequence>
            <xs:element type="nav:attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
    </xs:complexType>
    <xs:complexType name="navigationType">
        <xs:sequence>
            <xs:element type="nav:linkType" name="link" maxOccurs="unbounded" minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="collection-counterType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="collection" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="pluginType">
        <xs:sequence>
            <xs:element type="nav:domain-object-surferType" name="domain-object-surfer" minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/">
            </xs:element>
            <xs:element type="nav:customType" name="custom" minOccurs="0" xmlns:nav="https://cm5.intertrust.ru/navigation-panel/"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
