CM5/Core/configuration/src/main/resources/config/actions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="https://cm5.intertrust.ru/config/action" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:act="https://cm5.intertrust.ru/config/action"
           xmlns:evt="https://cm5.intertrust.ru/config/event" xmlns:rul="https://cm5.intertrust.ru/config/rules">

    <xs:import namespace="https://cm5.intertrust.ru/config/event" schemaLocation="events.xsd"/>
    <xs:import namespace="https://cm5.intertrust.ru/config/rules" schemaLocation="rules.xsd"/>

    <xs:simpleType name="replacementPolicyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="runtime"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="menu-bar" type="act:menuBarType"/>
    <xs:element name="tool-bar" type="act:toolBarType"/>
    <xs:element name="action-context" type="act:actionContextType"/>
    <xs:element name="action-ref" type="act:actionRefType" substitutionGroup="act:abstract-action"/>
    <xs:element name="action-separator" type="act:actionSeparatorType" substitutionGroup="act:abstract-action"/>
    <xs:element name="action" type="act:actionEntryType" substitutionGroup="act:abstract-action"/>
    <xs:element name="action-group" type="act:actionGroupType" substitutionGroup="act:abstract-action"/>
    <xs:element name="action-group-ref" type="act:actionGroupRefType" substitutionGroup="act:abstract-action"/>
    <xs:element name="simple-action" type="act:simpleActionType" substitutionGroup="act:abstract-action"/>
    <xs:element name="simple-upload-action" type="act:simpleUploadActionType" substitutionGroup="act:abstract-action"/>
    <xs:element name="workflow-actions" type="act:workflowActionsType"/>
    <xs:element name="workflow-action" type="act:workflowActionType"/>

    <xs:element name="abstract-action" type="act:abstractActionType" abstract="true"/>

    <!-- todo выделить в отдельную схему базовых типов компонентов -->
    <xs:attributeGroup name="baseAttributeGroup">
        <xs:attribute name="styleClass" type="xs:string"/>
        <xs:attribute name="rendered" type="xs:string" default="true"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="activeAttributeGroup">
        <xs:attribute name="disabled" type="xs:boolean" default="false"/>
    </xs:attributeGroup>

    <xs:simpleType name="componentNameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="[\w.-]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="notEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <!--<xs:pattern value="^(\s$)+" />-->
        </xs:restriction>
    </xs:simpleType>

    <!-- todo end -->

    <xs:attributeGroup name="actionAttributeGroup">
        <xs:attributeGroup ref="act:baseAttributeGroup"/>
        <xs:attribute name="order" type="xs:positiveInteger"/>
        <xs:attribute name="merged" type="xs:boolean" default="false"/>
    </xs:attributeGroup>

    <xs:complexType name="workflowActionsType">
        <xs:sequence>
            <xs:element ref="act:workflow-action" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="workflowActionType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="order" type="xs:positiveInteger"/>
    </xs:complexType>

    <xs:complexType name="abstractActionType" abstract="true"/>

    <xs:complexType name="baseActionType" abstract="true">
        <xs:complexContent>
            <xs:extension base="act:abstractActionType">
                <xs:sequence>
                    <xs:element name="action-params" type="act:actionParamsType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="events" type="evt:eventsType" maxOccurs="1" minOccurs="0"/>
                    <xs:element name="rules" type="rul:rulesType" maxOccurs="1" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="visible-when-new" type="xs:boolean" default="true" use="optional"/>
                <xs:attribute name="visibility-state-condition" type="xs:string" use="optional"/>
                <xs:attribute name="visibility-checker" type="xs:string" use="optional"/>
                <xs:attribute name="permissions" type="xs:string" use="optional"/>
                <xs:attribute name="jsid" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="actionEntryType">
        <xs:complexContent>
            <xs:extension base="act:baseActionType">
                <xs:sequence>
                    <xs:element name="before-execution" type="act:beforeExecutionType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="after-execution" type="act:afterExecutionType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="action-settings" type="act:actionSettingsType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="validators" type="act:validatorsType" minOccurs="0" maxOccurs="1"/>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="act:abstract-action"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attributeGroup ref="act:actionAttributeGroup"/>
                <xs:attributeGroup ref="act:activeAttributeGroup"/>
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="componentName" type="act:componentNameType" use="required"/>
                <xs:attribute name="text" type="xs:string"/>
                <xs:attribute name="image" type="xs:string"/>
                <xs:attribute name="imageClass" type="xs:string"/>
                <xs:attribute name="tooltip" type="xs:string"/>
                <xs:attribute name="immediate" type="xs:boolean" default="false"/>
                <xs:attribute name="action" type="xs:string"/>
                <xs:attribute name="display" type="act:displayType"/>
                <xs:attribute name="type" type="act:actionType" default="perform"/>
                <xs:attribute name="weight" type="xs:positiveInteger"/>
                <xs:attribute name="groupId" type="xs:string"/>
                <xs:attribute name="dirtySensitivity" type="xs:boolean" default="true"/>
                <xs:attribute name="replace" type="act:replacementPolicyType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="actionGroupType">
        <xs:complexContent>
            <xs:extension base="act:baseActionType">
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="act:abstract-action"/>
                        <xs:element ref="act:workflow-actions" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                </xs:sequence>


                <xs:attributeGroup ref="act:actionAttributeGroup"/>
                <xs:attributeGroup ref="act:activeAttributeGroup"/>
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="text" type="xs:string"/>
                <xs:attribute name="image" type="xs:string"/>
                <xs:attribute name="imageClass" type="xs:string"/>
                <xs:attribute name="tooltip" type="xs:string"/>
                <xs:attribute name="display" type="act:displayType"/>
                <xs:attribute name="weight" type="xs:positiveInteger"/>
                <xs:attribute name="dirtySensitivity" type="xs:boolean" default="true"/>
                <xs:attribute name="display-empty-groups" type="xs:boolean" default="false"/>
                <xs:attribute type="act:replacementPolicyType" name="replace" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="actionGroupRefType">
        <xs:complexContent>
            <xs:extension base="act:baseActionType">
                <xs:attribute name="name-ref" type="xs:string" use="required"/>
                <xs:attribute name="text" type="xs:string" use="optional"/>
                <xs:attribute name="showText" type="xs:boolean" default="true"/>
                <xs:attribute name="showImage" type="xs:boolean" default="true"/>
                <xs:attribute name="order" type="xs:positiveInteger"/>
                <xs:attribute name="rendered" type="xs:string" default="true"/>
                <xs:attribute name="merged" type="xs:boolean" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="simpleActionType">
        <xs:complexContent>
            <xs:extension base="act:actionEntryType">
                <xs:attribute name="action-handler" type="xs:string" use="required"/>
                <xs:attribute name="re-read-in-same-transaction" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="simpleUploadActionType">
        <xs:complexContent>
            <xs:extension base="act:actionEntryType">
                <xs:attribute name="action-handler" type="xs:string" use="required"/>
                <xs:attribute name="multiple-file" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="file-extensions" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="actionRefType">
        <xs:complexContent>
            <xs:extension base="act:baseActionType">
                <xs:attribute name="name-ref" type="xs:string" use="required"/>
                <xs:attribute name="text" type="xs:string" use="optional"/>
                <xs:attribute name="showText" type="xs:boolean" default="true"/>
                <xs:attribute name="showImage" type="xs:boolean" default="true"/>
                <xs:attribute name="order" type="xs:positiveInteger"/>
                <xs:attribute name="rendered" type="xs:string" default="true"/>
                <xs:attribute name="merged" type="xs:boolean" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="actionSeparatorType">
        <xs:complexContent>
            <xs:extension base="act:abstractActionType">
                <xs:attributeGroup ref="act:actionAttributeGroup"/>
                <xs:attribute name="componentName" type="act:componentNameType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="menuBarType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="act:abstract-action"/>
        </xs:choice>
        <xs:attributeGroup ref="act:baseAttributeGroup"/>
        <xs:attribute name="componentName" type="act:componentNameType" default="action.menu.bar"/>
        <xs:attribute type="act:replacementPolicyType" name="replace" use="optional"/>
    </xs:complexType>

    <xs:complexType name="toolBarType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="act:abstract-action"/>
            </xs:choice>
            <xs:element name="facet" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="act:abstract-action"/>
                    </xs:choice>
                    <xs:attribute name="name" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="right"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="act:baseAttributeGroup"/>
        <xs:attribute name="componentName" type="act:componentNameType" default="action.tool.bar"/>
        <xs:attribute name="plugin" type="xs:string"/>
        <xs:attribute name="useDefault" type="xs:boolean" default="true"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute type="act:replacementPolicyType" name="replace" use="optional"/>
    </xs:complexType>


    <xs:simpleType name="displayType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="button"/>
            <xs:enumeration value="toggleButton"/>
            <xs:enumeration value="link"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="actionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="navigable"/>
            <xs:enumeration value="perform"/>
            <xs:enumeration value="workflow"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="messageType">
        <xs:attribute name="text" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="onSuccessMessageType">
        <xs:complexContent>
            <xs:extension base="act:messageType">
                <xs:attribute name="success-notification-type" type="act:notificationType" default="fading"
                              use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="notificationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fading"/>
            <xs:enumeration value="modal"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="beforeExecutionType">
        <xs:sequence>
            <xs:element name="confirmation-message" type="act:messageType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="linked-domain-object" type="act:linkedDomainObjectType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="save-context" type="act:booleanValueType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="afterExecutionType">
        <xs:sequence>
            <xs:element name="on-success-message" type="act:onSuccessMessageType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="actionSettingsType">
        <xs:sequence>
            <xs:any minOccurs="1" maxOccurs="1" processContents="skip"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="booleanValueType">
        <xs:attribute name="value" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="linkedDomainObjectType">
        <xs:sequence>
            <xs:element name="reference" type="act:doReferenceType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="perform-validation" type="act:booleanValueType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="form-mapping" type="act:formMappingType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="title" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="formMappingType">
        <xs:sequence>
            <xs:element type="act:usersType" name="users" minOccurs="0" maxOccurs="1"/>
            <xs:element type="act:rolesType" name="groups" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="domain-object-type"/>
        <xs:attribute type="xs:string" name="form"/>
        <xs:attribute type="xs:string" name="modal-width" use="optional"/>
        <xs:attribute type="xs:string" name="modal-height" use="optional"/>
    </xs:complexType>

    <xs:complexType name="usersType">
        <xs:sequence>
            <xs:element name="user" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="uid" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="rolesType">
        <xs:sequence>
            <xs:element name="group" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute type="xs:string" name="name"/>
                    <xs:attribute type="xs:integer" name="priority"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="doReferenceType">
        <xs:attribute name="field-path" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="actionContextType">
        <xs:sequence>
            <xs:element name="domain-object-context" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                                <xs:attribute name="value" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="class-name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="action" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" use="required" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute type="act:replacementPolicyType" name="replace" use="optional"/>
    </xs:complexType>

    <xs:complexType name="actionParamsType">
        <xs:sequence>
            <xs:element name="action-param" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="act:notEmptyString" use="required"/>
                    <xs:attribute name="value" type="act:notEmptyString" use="required"/>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <!-- view rule block -->
    <xs:element name="view-rule">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="view-id" type="xs:QName"/>
                <xs:element name="page-name" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="validatorsType">
        <xs:sequence>
            <xs:element name="validator" type="act:validatorType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validatorType">
        <xs:attribute name="class-name" type="xs:string" use="required"/>
        <xs:attribute name="widget-id" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>