CM5/Core/configuration/src/main/resources/config/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified" targetNamespace="https://cm5.intertrust.ru/config"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="configuration" type="con:configurationType"
                xmlns:con="https://cm5.intertrust.ru/config"  />

    <xs:complexType name="longType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="con:nameType"
                              xmlns:con="https://cm5.intertrust.ru/config" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="domainObjectType">
        <xs:sequence>
            <xs:element type="con:parentType" name="parent"
                        minOccurs="0" maxOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:fieldsType" name="fields"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:uniqueKeyType" name="uniqueKey"
                        minOccurs="0" maxOccurs="unbounded"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:attachmentTypes" name="attachment-types" minOccurs="0" maxOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" use="required" type="con:nameType"
                      xmlns:con="https://cm5.intertrust.ru/config" />
        <xs:attribute type="xs:string" name="extends" use="optional" />
        <xs:attribute type="xs:boolean" name="template" use="optional" />
    </xs:complexType>

    <xs:complexType name="attachmentTypes">
        <xs:sequence>
            <xs:element type="con:attachmentType" name="attachment-type" minOccurs="1" maxOccurs="unbounded"
                        xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="attachmentType">
        <xs:attribute name="name" use="required" type="xs:string"
                      xmlns:con="https://cm5.intertrust.ru/config" />
    </xs:complexType>

    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
            <xs:pattern value="[a-zA-Z0-9_]*">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="fieldsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="con:stringType" name="string"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:dateTimeType" name="dateTime"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:referenceType" name="reference"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:longType" name="long"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:decimalType" name="decimal"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:passwordType" name="password"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="fieldType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="referenceType">
        <xs:sequence>
            <xs:element type="con:fieldType" name="type" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
        <xs:attribute type="xs:string" name="not-null" use="optional" />
    </xs:complexType>

    <xs:complexType name="dateTimeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:attribute type="xs:string" name="length"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="configurationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="con:domainObjectType"
                        name="domain-object-type" maxOccurs="unbounded"
                        minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:collectionType" name="collection"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="static-group" type="con:staticGroupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="dynamic-group" type="con:dynamicGroupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="context-role" type="con:contextRoleType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="access-matrix" type="con:accessMatrixType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="navigation" type="con:navigationPanelType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="uniqueKeyType">
        <xs:sequence>
            <xs:element type="con:fieldType" name="field"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="passwordType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:attribute type="xs:string" name="length" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="decimalType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:attribute type="xs:string" name="precision" />
                <xs:attribute type="xs:string" name="scale" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="stringType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:attribute type="xs:string" name="length"
                              use="optional" />
                <xs:attribute type="xs:string" name="not-null"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Collections schema -->

    <xs:complexType name="filterType" mixed="true">
        <xs:sequence>
            <xs:element type="con:filterReferenceType" name="reference"
                        minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:criteriaType" name="criteria"
                        minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>

    <xs:complexType name="displayType">
        <xs:sequence>
            <xs:element type="con:columnType" name="column"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filterReferenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="placeholder" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="columnType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="field"
                              use="optional" />
                <xs:attribute type="xs:string" name="name"
                              use="optional" />
                <xs:attribute type="xs:string" name="hidden"
                              use="optional" />
                <xs:attribute type="xs:string" name="sortable"
                              use="optional" />
                <xs:attribute type="xs:string" name="editable"
                              use="optional" />
                <xs:attribute type="xs:string" name="type"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="criteriaType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="placeholder"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="rendererType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="className" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="collectionType">
        <xs:sequence>
            <xs:element type="con:displayType" name="display"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="xs:string" name="prototype"
                        minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="counting-prototype"
                        minOccurs="0">
            </xs:element>
            <xs:element type="con:rendererType" name="renderer"
                        minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:filterType" name="filter"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="idField" use="optional" />
        <xs:attribute type="xs:string" name="domain-object-type"
                      use="optional" />
    </xs:complexType>

    <!-- Access configuration schema -->
    <xs:complexType name="contextType">
        <xs:sequence>
            <xs:element name="domain-object" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="status" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="staticGroupType">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="dynamicGroupType">
        <xs:sequence>
            <xs:element name="context" type="con:contextType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="members" type="con:membersType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="include-group" type="con:includeGroupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="membersType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="collector" type="con:algorithmType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="track-domain-objects" type="con:trackObjectsType"
                        xmlns:con="https://cm5.intertrust.ru/config" />

        </xs:choice>
    </xs:complexType>



    <xs:complexType name="trackObjectsType">
        <xs:sequence>
            <xs:element name="bind-context" type="con:domainObjectAlgorithmType" maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="get-person" type="con:domainObjectAlgorithmType" maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="status" type="xs:string" use="optional"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="includeGroupType">
        <xs:sequence>
            <xs:element name="bind-context" type="con:domainObjectAlgorithmType" maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="algorithmType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="java-class" type="con:javaClassType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="spring-bean" type="con:springBeanType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>



    <xs:simpleType name="doelType">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern
                    value="([A-Za-z0-9\s]+(\^[A-Za-z0-9\s]*)?\.)*[A-Za-z0-9\s]+(\^[A-Za-z0-9\s]*)?">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="javaClassType">
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="springBeanType">
        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="domainObjectAlgorithmType">
        <xs:choice>
            <xs:element name="java-class" type="con:javaClassType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="spring-bean" type="con:springBeanType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="doel" type="con:doelType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="contextRoleType">
        <xs:sequence>
            <xs:element name="context" type="con:contextType"
                        maxOccurs="1" minOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="groups" type="con:groupsType"
                        maxOccurs="1" minOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="groupsType">
        <xs:choice>
            <xs:element name="group" type="con:groupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="collector" type="con:algorithmType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="accessMatrixType">
        <xs:sequence>
            <xs:element name="status" type="con:accessMatrixSectionType"
                        maxOccurs="unbounded" minOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="accessMatrixSectionType">
        <xs:sequence>
            <xs:element name="read" type="con:permissionsType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="write" type="con:permissionsType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="delete" type="con:permissionsType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="create-child"
                        type="con:createChildPermissionsType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="execute-action"
                        type="con:executeActionPermissionsType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <!--  Navigation Panel part -->
    <xs:complexType name="navigationPanelType">
        <xs:sequence>
            <xs:element type="con:linkType" name="link" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="is-default" type="xs:string" use="optional"/>
    </xs:complexType>


    <xs:complexType name="linkType">
        <xs:sequence>
            <xs:element type="con:pluginType" name="plugin" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:decorationsType" name="decorations" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:childLinksType" name="child-links" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="display-text" use="optional"/>
        <xs:attribute type="xs:string" name="image" use="optional"/>
        <xs:attribute type="xs:string" name="child-to-open" use="optional"/>
    </xs:complexType>

    <xs:complexType name="pluginType">
        <xs:sequence>
            <xs:element type="con:domainObjectSurferType" name="domain-object-surfer" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:customType" name="custom" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="decorationsType">
        <xs:sequence>
            <xs:element name="collection-counter">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="collection" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="childLinksType">
        <xs:sequence>
            <xs:element type="con:linkType" name="link" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="group-name" use="optional"/>
    </xs:complexType>

    <xs:complexType name="domainObjectSurferType">
        <xs:sequence>
            <xs:choice>
                <xs:element type="con:collectionRefType" name="collection-ref" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:element type="con:collectionViewRefType" name="collection-view-ref" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
            </xs:choice>
            <xs:element type="con:sortCriterionType" name="sort-criterion" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="collection" use="optional"/>
    </xs:complexType>

    <xs:complexType name="customType">
        <xs:sequence>
            <xs:element type="con:attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>

    <xs:complexType name="collectionRefType" >
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="use-default" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="collectionViewRefType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="sortCriterionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="field" use="optional"/>
                <xs:attribute type="xs:string" name="order" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="attributeType" mixed="true">
        <xs:sequence>
            <xs:element type="con:attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
    </xs:complexType>


    <xs:complexType name="permissionsType">
        <xs:sequence>
            <xs:element name="permit-role" type="con:permissionRoleType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="permit-group" type="con:permissionGroupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="permissionRoleType">
        <xs:complexContent>
            <xs:extension base="con:permissionBaseType" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="permissionGroupType">
        <xs:complexContent>
            <xs:extension base="con:permissionBaseType" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="permissionBaseType">
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="createChildPermissionsType">
        <xs:complexContent>
            <xs:extension base="con:permissionsType" xmlns:con="https://cm5.intertrust.ru/config" >
                <xs:attribute name="type" type="con:nameType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="executeActionPermissionsType">
        <xs:complexContent>
            <xs:extension base="con:permissionsType" xmlns:con="https://cm5.intertrust.ru/config" >
                <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="groupType">
        <xs:sequence>
            <xs:element name="bind-context" type="con:domainObjectAlgorithmType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>