CM5/Core/configuration/src/test/resources/config/configuration-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified" targetNamespace="https://cm5.intertrust.ru/config"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="configuration" type="con:configurationType"
                xmlns:con="https://cm5.intertrust.ru/config"  />

    <xs:complexType name="longType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="con:nameType"
                              xmlns:con="https://cm5.intertrust.ru/config" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="domainObjectType">
        <xs:sequence>
            <xs:element type="con:parentType" name="parent"
                        minOccurs="0" maxOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:fieldsType" name="fields"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:uniqueKeyType" name="uniqueKey"
                        minOccurs="0" maxOccurs="unbounded"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:attachmentTypes" name="attachment-types" minOccurs="0" maxOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" use="required" type="con:nameType"
                      xmlns:con="https://cm5.intertrust.ru/config" />
        <xs:attribute type="xs:string" name="extends" use="optional" />
        <xs:attribute type="xs:boolean" name="template" use="optional" />
    </xs:complexType>

    <xs:complexType name="attachmentTypes">
        <xs:sequence>
            <xs:element type="con:attachmentType" name="attachment-type" minOccurs="1" maxOccurs="unbounded"
                        xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="attachmentType">
        <xs:attribute name="name" use="required" type="xs:string"
                      xmlns:con="https://cm5.intertrust.ru/config" />
    </xs:complexType>

    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
            <xs:pattern value="[a-zA-Z0-9_]*">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="fieldsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="con:stringType" name="string"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:dateTimeType" name="dateTime"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:referenceType" name="reference"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:longType" name="long"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:decimalType" name="decimal"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:passwordType" name="password"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="fieldType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="referenceType">
        <xs:sequence>
            <xs:element type="con:fieldType" name="type" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
        <xs:attribute type="xs:string" name="not-null" use="optional" />
    </xs:complexType>

    <xs:complexType name="dateTimeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:attribute type="xs:string" name="length"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="configurationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="con:domainObjectType"
                        name="domain-object-type" maxOccurs="unbounded"
                        minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:collectionType" name="collection"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="static-group" type="con:staticGroupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="dynamic-group" type="con:dynamicGroupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="context-role" type="con:contextRoleType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="access-matrix" type="con:accessMatrixType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="navigation" type="con:navigationPanelType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="form" type="con:formType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="form-mappings" type="con:formMappingsType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="widget-template" type="con:widgetTemplateType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="collection-view" type="con:collectionViewType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="collection-mappings" type="con:collectionMappingsType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="uniqueKeyType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element type="con:fieldType" name="field"
                        xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="passwordType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:attribute type="xs:string" name="length" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="decimalType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:attribute type="xs:string" name="precision" />
                <xs:attribute type="xs:string" name="scale" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="stringType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required"
                              type="con:nameType" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:attribute type="xs:string" name="length"
                              use="optional" />
                <xs:attribute type="xs:string" name="not-null"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!-- Collections schema -->

    <xs:complexType name="filterType" mixed="true">
        <xs:sequence>
            <xs:element type="con:filterReferenceType" name="reference"
                        minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:criteriaType" name="criteria"
                        minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>

    <xs:complexType name="filterReferenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="placeholder" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="criteriaType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="placeholder"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="rendererType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="className" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="collectionType">
        <xs:sequence>
            <xs:element type="xs:string" name="prototype"
                        minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="counting-prototype"
                        minOccurs="0">
            </xs:element>
            <xs:element type="con:rendererType" name="renderer"
                        minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element type="con:filterType" name="filter"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="idField" use="optional" />
        <xs:attribute type="xs:string" name="domain-object-type"
                      use="optional" />
    </xs:complexType>

    <!-- Access configuration schema -->
    <xs:complexType name="contextType">
        <xs:sequence>
            <xs:element name="domain-object" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="status" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="staticGroupType">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="dynamicGroupType">
        <xs:sequence>
            <xs:element name="context" type="con:contextType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="members" type="con:membersType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="include-group" type="con:includeGroupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="membersType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="collector" type="con:algorithmType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="track-domain-objects" type="con:trackObjectsType"
                        xmlns:con="https://cm5.intertrust.ru/config" />

        </xs:choice>
    </xs:complexType>



    <xs:complexType name="trackObjectsType">
        <xs:sequence>
            <xs:element name="bind-context" type="con:domainObjectAlgorithmType" maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="get-person" type="con:domainObjectAlgorithmType" maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="status" type="xs:string" use="optional"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="includeGroupType">
        <xs:sequence>
            <xs:element name="bind-context" type="con:domainObjectAlgorithmType" maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="algorithmType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="java-class" type="con:javaClassType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="spring-bean" type="con:springBeanType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>



    <xs:simpleType name="doelType">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern
                    value="([A-Za-z0-9\s]+(\^[A-Za-z0-9\s]*)?\.)*[A-Za-z0-9\s]+(\^[A-Za-z0-9\s]*)?">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="javaClassType">
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="springBeanType">
        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="domainObjectAlgorithmType">
        <xs:choice>
            <xs:element name="java-class" type="con:javaClassType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="spring-bean" type="con:springBeanType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="doel" type="con:doelType"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="contextRoleType">
        <xs:sequence>
            <xs:element name="context" type="con:contextType"
                        maxOccurs="1" minOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="groups" type="con:groupsType"
                        maxOccurs="1" minOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="groupsType">
        <xs:choice>
            <xs:element name="group" type="con:groupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="collector" type="con:algorithmType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="accessMatrixType">
        <xs:sequence>
            <xs:element name="status" type="con:accessMatrixSectionType"
                        maxOccurs="unbounded" minOccurs="1"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="accessMatrixSectionType">
        <xs:sequence>
            <xs:element name="read" type="con:permissionsType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="write" type="con:permissionsType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="delete" type="con:permissionsType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="create-child"
                        type="con:createChildPermissionsType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="execute-action"
                        type="con:executeActionPermissionsType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <!--  Navigation Panel part -->
    <xs:complexType name="navigationPanelType">
        <xs:sequence>
            <xs:element type="con:linkType" name="link" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="is-default" type="xs:string" use="optional"/>
    </xs:complexType>


    <xs:complexType name="linkType">
        <xs:sequence>
            <xs:element type="con:pluginType" name="plugin" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:decorationsType" name="decorations" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:childLinksType" name="child-links" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="display-text" use="optional"/>
        <xs:attribute type="xs:string" name="image" use="optional"/>
        <xs:attribute type="xs:string" name="child-to-open" use="optional"/>
    </xs:complexType>

    <xs:complexType name="pluginType">
        <xs:choice>
            <xs:element type="con:domainObjectSurferType" name="domain-object-surfer" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:customType" name="custom" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="decorationsType">
        <xs:sequence>
            <xs:element name="collection-counter">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="collection" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="childLinksType">
        <xs:sequence>
            <xs:element type="con:linkType" name="link" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="group-name" use="optional"/>
    </xs:complexType>

    <xs:complexType name="domainObjectSurferType">
        <xs:sequence>
            <xs:element type="con:collectionViewerType" name="collection-viewer" xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="collection" use="optional"/>
    </xs:complexType>

    <xs:complexType name="collectionViewerType">
        <xs:sequence>
            <xs:choice>
                <xs:element type="con:collectionRefType" name="collection-ref" xmlns:con="https://cm5.intertrust.ru/config" />
                <xs:element type="con:collectionViewRefType" name="collection-view-ref" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
            </xs:choice>
            <xs:element type="con:sortCriterionType" name="sort-criterion" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="customType">
        <xs:sequence>
            <xs:element type="con:attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>

    <xs:complexType name="collectionRefType" >
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="use-default" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="collectionViewRefType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="sortCriterionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="field" use="optional"/>
                <xs:attribute type="xs:string" name="order" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="attributeType" mixed="true">
        <xs:sequence>
            <xs:element type="con:attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
    </xs:complexType>


    <xs:complexType name="permissionsType">
        <xs:sequence>
            <xs:element name="permit-role" type="con:permissionRoleType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
            <xs:element name="permit-group" type="con:permissionGroupType"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="permissionRoleType">
        <xs:complexContent>
            <xs:extension base="con:permissionBaseType" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="permissionGroupType">
        <xs:complexContent>
            <xs:extension base="con:permissionBaseType" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="permissionBaseType">
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="createChildPermissionsType">
        <xs:complexContent>
            <xs:extension base="con:permissionsType" xmlns:con="https://cm5.intertrust.ru/config" >
                <xs:attribute name="type" type="con:nameType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="executeActionPermissionsType">
        <xs:complexContent>
            <xs:extension base="con:permissionsType" xmlns:con="https://cm5.intertrust.ru/config" >
                <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="groupType">
        <xs:sequence>
            <xs:element name="bind-context" type="con:domainObjectAlgorithmType"
                        maxOccurs="1" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <!-- Form types definition-->
    <xs:complexType name="bookmarksType">
        <xs:sequence>
            <xs:element type="con:tabGroupType" name="tab-group" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="formType">
        <xs:sequence>
            <xs:element type="con:markupType" name="markup" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:widgetConfigType" name="widget-config" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="domain-object-type"/>
        <xs:attribute type="xs:boolean" name="is-default"/>
        <xs:attribute type="xs:boolean" name="debug"/>
    </xs:complexType>

    <xs:complexType name="columnFromType" mixed="true">
        <xs:sequence>
            <xs:element type="con:patternType" name="pattern" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:formattingType" name="formatting" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="header" use="optional"/>
        <xs:attribute type="xs:string" name="widget-id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="trType">
        <xs:sequence>
            <xs:element type="con:tdType" name="td" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="height" use="optional"/>
        <xs:attribute type="xs:string" name="v-align" use="optional"/>
    </xs:complexType>
    <xs:complexType name="numberFormatType">
        <xs:sequence>
            <xs:element type="con:fieldPathsType" name="field-paths" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="pattern"/>
    </xs:complexType>
    <xs:complexType name="formMappingType">
        <xs:sequence>
            <xs:element type="con:usersType" name="users" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:rolesType" name="roles" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="domain-object-type"/>
        <xs:attribute type="xs:string" name="form"/>
    </xs:complexType>
    <xs:complexType name="richTextAreaType">
        <xs:sequence>
            <xs:element type="con:fieldPathType" name="field-path" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element name="text" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="usersType">
        <xs:sequence>
            <xs:element type="con:userType" name="user" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="userType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="uid"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="bodyType">
        <xs:sequence>
            <xs:element type="con:tabType" name="tab" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="display-single-tab"/>
    </xs:complexType>
    <xs:complexType name="markupType">
        <xs:sequence>
            <xs:element type="con:headerType" name="header" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:bodyType" name="body" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="headerType">
        <xs:sequence>
            <xs:element type="con:tableType" name="table" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fieldPathType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="value" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="tdType">
        <xs:sequence>
            <xs:element type="con:widgetType" name="widget" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="width" use="optional"/>
        <xs:attribute type="xs:string" name="colspan" use="optional"/>
        <xs:attribute type="xs:string" name="rowspan" use="optional"/>
        <xs:attribute type="xs:string" name="h-align" use="optional"/>
        <xs:attribute type="xs:string" name="v-align" use="optional"/>
    </xs:complexType>
    <xs:complexType name="formTableType">
        <xs:sequence>
            <xs:element type="con:formTableColumnType" name="form-table-column" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="form-name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="patternType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="value" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="singleEntryGroupType">
        <xs:sequence>
            <xs:element type="con:tabGroupType" name="tab-group" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="formMappingsType">
        <xs:sequence>
            <xs:element type="con:formMappingType" name="form-mapping" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="roleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="linkedDomainObjectsTableType">
        <xs:sequence>
            <xs:element type="con:fieldPathType" name="field-path" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:linkedFormType" name="linked-form" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:summaryTableType" name="summary-table" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
    <xs:complexType name="summaryTableType">
        <xs:sequence>
            <xs:element type="con:summaryTableColumnType" name="summary-table-column" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="form-name"/>
    </xs:complexType>
    <xs:complexType name="integerBoxType">
        <xs:sequence>
            <xs:element type="con:fieldPathType" name="field-path" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="decimalBoxType">
        <xs:sequence>
            <xs:element type="con:fieldPathType" name="field-path" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="linkedDomainObjectHyperlinkType">
        <xs:sequence>
            <xs:element type="con:fieldPathType" name="field-path" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:linkedFormType" name="linked-form" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:patternType" name="pattern" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
    <xs:complexType name="hidingGroupsType">
        <xs:sequence>
            <xs:element type="con:tabGroupType" name="tab-group" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tabType">
        <xs:sequence>
            <xs:element type="con:singleEntryGroupType" name="single-entry-group" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:hidingGroupsType" name="hiding-groups" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
            <xs:element type="con:bookmarksType" name="bookmarks" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="tabGroupType">
        <xs:sequence>
            <xs:element type="con:tableType" name="table" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="rolesType">
        <xs:sequence>
            <xs:element type="con:roleType" name="role" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fieldPathsType">
        <xs:sequence>
            <xs:element type="con:fieldPathType" name="field-path" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="linkedFormType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="inline" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="widgetTemplateType">
        <xs:sequence>
            <xs:element type="con:linkedDomainObjectsEditableTableType" name="linked-domain-objects-editable-table" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="domain-object-type"/>
    </xs:complexType>
    <xs:complexType name="formattingType">
        <xs:sequence>
            <xs:element type="con:numberFormatType" name="number-format" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:dateFormatType" name="date-format" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="widgetConfigType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="con:labelType" name="label" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:richTextAreaType" name="rich-text-area" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:integerBoxType" name="integer-box" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:decimalBoxType" name="decimal-box" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:linkedDomainObjectHyperlinkType" name="linked-domain-object-hyperlink" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:linkedDomainObjectsTableType" name="linked-domain-objects-table" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:linkedDomainObjectsEditableTableType" name="linked-domain-objects-editable-table" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:templateBasedWidgetType" name="template-based-widget" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="templateBasedWidgetType">
        <xs:sequence>
            <xs:element type="con:fieldPathType" name="field-path" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="template-name"/>
    </xs:complexType>
    <xs:complexType name="widgetType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="optional"/>
                <xs:attribute type="xs:string" name="width" use="optional"/>
                <xs:attribute type="xs:string" name="height" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="labelType">
        <xs:sequence>
            <xs:element name="field-path" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="text" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="tableType">
        <xs:sequence>
            <xs:element type="con:trType" name="tr" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="width" use="optional"/>
        <xs:attribute type="xs:string" name="height" use="optional"/>
        <xs:attribute type="xs:string" name="row-height" use="optional"/>
        <xs:attribute type="xs:string" name="col-width" use="optional"/>
        <xs:attribute type="xs:string" name="h-align" use="optional"/>
        <xs:attribute type="xs:string" name="v-align" use="optional"/>
    </xs:complexType>
    <xs:complexType name="dateFormatType">
        <xs:sequence>
            <xs:element type="con:fieldPathsType" name="field-paths" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="pattern"/>
        <xs:attribute type="xs:string" name="style"/>
    </xs:complexType>
    <xs:complexType name="linkedDomainObjectsEditableTableType">
        <xs:sequence>
            <xs:element type="con:fieldPathType" name="field-path" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:linkedFormType" name="linked-form" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:formTableType" name="form-table" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="summaryTableColumnType">
        <xs:sequence>
            <xs:element type="con:patternType" name="pattern" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:formattingType" name="formatting" minOccurs="0" xmlns:con="https://cm5.intertrust.ru/config">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="header" use="optional"/>
    </xs:complexType>
    <xs:complexType name="formTableColumnType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="header" use="optional"/>
                <xs:attribute type="xs:string" name="widget-id" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <!-- Collection-view part -->
    <xs:complexType name="collectionMappingsType">
        <xs:sequence>
            <xs:element type="con:collectionMappingType" name="collection-mapping" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="columnType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="field"
                              use="optional" />
                <xs:attribute type="xs:string" name="name"
                              use="optional" />
                <xs:attribute type="xs:string" name="hidden"
                              use="optional" />
                <xs:attribute type="xs:string" name="sortable"
                              use="optional" />
                <xs:attribute type="xs:string" name="editable"
                              use="optional" />
                <xs:attribute type="xs:string" name="type"
                              use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="displayType">
        <xs:sequence>
            <xs:element type="con:columnType" name="column"
                        maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://cm5.intertrust.ru/config" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="collectionMappingType">
        <xs:sequence>
            <xs:element type="con:usersType" name="users" xmlns:con="https://cm5.intertrust.ru/config"/>
            <xs:element type="con:rolesType" name="roles" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="collection"/>
        <xs:attribute type="xs:string" name="view"/>
    </xs:complexType>
    <xs:complexType name="collectionViewType">
        <xs:sequence>
            <xs:element type="con:displayType" name="display" xmlns:con="https://cm5.intertrust.ru/config"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="collection"/>
        <xs:attribute type="xs:string" name="is-default"/>
    </xs:complexType>
</xs:schema>